.panel-title {
  font-size: 25px;
}
.well {}
.question {
  margin-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #000;
}
.radio-label {
  display: block;
}
input[type="radio"] {
  margin-right: 10px;
}

#timer {
  text-align: center;
  font-size: 65px;
}
#timer-container {
  position: absolute;
  right: 0;
  position: fixed;
}
/****************************/
.col {
  padding: 0;
}
.panel-body {
  min-height: 50px;
}
.panel {
  border-radius: 0;
  min-height: 703px;
  margin: 0;
}
.sidebar {
	text-align: center;
}
.exams {
	border: 0;
}
.panel>.list-group .exams:hover {
	border-right: 5px solid #4b940e;
}
.list-group {
	margin: 0;
}
.panel>.list-group .list-group-item {
	padding: 0;
	border-width: 0;
	border: 0;
	cursor: pointer;
}

.list-group-item {
	border: 0;
}
.panel>.list-group .exams {
	color: #fff;
	background-color: #777;
	border-top: 1px solid;
	padding: 15px 0;
}
.panel-heading+.list-group .exams:first-child {
	border-top: 1px solid;
}
.panel>.list-group:last-child .exams:last-child {
	border-bottom: 1px solid;
}
.courses {
	border-bottom: 2px solid #777;
	border-radius: 0;
    color: #fff;
    background-color: #2a2d2c;
}
.courses:hover {
	background-color: #49504e;
}
.page-header {
	text-align: center;
	margin-bottom: 0;
}
.quesContainer {
	width: 100%;
}
.checkbox label, .radio label {
    display: block;
    margin: 15px;	
}
/******************MODAL******************/
.modal {
	display: none;
	position: fixed;
	z-index: 1000;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	background: rgba(255, 255, 255, .8)
		url('http://i.stack.imgur.com/FhHRx.gif') 50% 50% no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
	overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
	display: block;

}